<div class="bg-white flex justify-between items-center w-full px-4 border-t">
  <div class="px-4 text-gray-600">
    <p>© 2022 Revently, Inc.</p>
  </div>
  <div class="flex justify-between items-center">
    <div class="px-4 my-3 text-gray-600">
      <p class="text-xl">
        <i class="fa-brands fa-facebook-f"></i>
      </p>
    </div>
    <div class="px-4 my-3 text-gray-600">
      <p class="text-xl">
        <i class="fa-brands fa-twitter"></i>
      </p>
    </div>
    <div class="px-4 my-3 text-gray-600">
      <p class="text-xl">
        <i class="fa-brands fa-instagram"></i>
      </p>
    </div>
  </div>
</div>
