<b><%= restaurant.name %></b>
<p><%= restaurant.cuisine %></p>
<p><%= restaurant.address %></p>
<p class="mt-2"><%= link_to "More" ,restaurant_path(restaurant), class: "window-btn px-2 py-1 rounded-sm" %></p>
