<div>
  <p>
    Name:
    <%= restaurant.name %>
  </p>

  <p>
    Address:
    <%= restaurant.address %>
  </p>

  <p>
    Cuisine:
    <%= restaurant.cuisine %>
  </p>

  <p>
    Phone number:
    <%= restaurant.phone_number %>
  </p>
</div>
