// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

//Mapbox
@import "@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder";

.show-container {
  width: 75%;
  margin: 45px auto;
}

.bookings-container {
  width: 85%;
  margin: 45px auto;
}

.show-info-container {
  width: 60%;
}

.checked {
  color: orange;
}

.form {
  text-align: center;
}

.reserve-btn {
  background-color: $purple;
  color: white;
  font-weight: 600;
  letter-spacing: 5px;
}

.window-btn {
  background-color: $purple;
  color: white;
  margin-top: 2.5rem;
}

.logo-color {
  color: black;
}

.form-bg {
  background: rgb(103,10,255);
  background: linear-gradient(180deg, rgba(103,10,255,1) 0%, rgba(80,70,229,1) 35%, rgba(0,212,255,1) 100%)
}

.selected {
  color: $purple;
}

[data-tooltip] {
  position: relative;
}

[data-tooltip]:after {
  content: attr(data-tooltip);
  position: absolute;
  right: 50%;
  top: 100%; /* put it on the top */
  background-color: rgb(42, 42, 41);
  padding: 4px 20px;
  border-radius: 5px;
  color: white;
  font-size: 12px;
  width: max-content;
  opacity: 0;
  -webkit-transition: opacity 0.75s ease-in-out;
}

[data-tooltip]:hover:after {
  opacity: 1;
}

div[data-tooltip]:after {
  left: 5px!important;
}

.map-tabs {
  position: absolute;
  right: 54px;
  top: 38px;
}

.menu-submit {
  background-color: #4953E7;
  color: white;
  margin-bottom: 10px;
  :hover {
    background-color:rgb(42, 42, 41);
  }
}
